.color-violet{
    color: #a870e0;
}
.fwb{
    font-weight: bold;
}
.btn-search{
    display: block!important;
}

.history {
    min-height: 20px;
    margin: 10px;
    border-left: 1px solid #d5d4dc;
    border-right: 1px solid #d5d4dc;
    background-color: #fff;
}

.condition-query {
    height: 48px;
    padding: 10px 10px 10px 0;
    background: url('../../resources/images/query-bg-s.png') no-repeat 0 0;
    background-color: #f8f8f8;
    border-bottom: 1px dashed #d2d2d2;
}

.condition-query-title {
    width: 20px;
    height: 38px;
    position: relative;
    top: -9px;
    margin: 0px 0px 0px 8px;
    line-height: 24px;
    color: #333;
    font-size: 14px;
    font-weight: 800;
}

.condition-query-box {
    width: calc(100% - 40px);
}

.datepicker-input {
    position: relative;
    width: 45%;
}

.datepicker-text {
    width: 10%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.icon_time {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #cfa9f5;
    cursor: pointer;
}

.form-group .reduce-width {
    width: calc(100% - 90px) !important;
}

.btn-query {
    position: absolute;
    top: -1px;
    left: 0;
}

.result-list {
    padding: 5px 5px 20px;
}

.result-head {
    margin-bottom: 5px;
}

.result-table table th {
    padding: 5px !important;
    background-color: #a870e0;
    border-bottom-width: 1px !important;
    color: #fff;
    font-weight: 800;
    text-align: center;
}

.result-table table td {
    padding: 2px !important;
    text-align: center;
}

.result-table table td p {
    height: 25px;
    line-height: 25px;
}

.model-header {
    height: 25px;
    line-height: 25px;
}

.model-img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px 4px;
}

.model-title {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.city-check-box {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.city-check-box.another{
    width: calc(100% - 110px);
}
.btn-location {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 25px;
    padding: 0;
    background-color: #f5f5f5;
    border-color: #ccc;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 25px;
    color: #c097e8;
    text-align: center;
    overflow: hidden;
}
.btn-location .iconfont {
    font-size: 16px;
}
.city-content {
    padding: 10px;
}
.city-item {
    display: inline-block;
    width: 68px;
    height: 26px;
    margin: 0 2px 1px 0;
    line-height: 26px;
    color: #666;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.city-item.current {
    background-color: #a870e0;
    color: #fff;
    border-radius: 5px;
}
.zhezhao{
   height:100%; width:100%; position:fixed; top:0; left:0; z-index:98;
}
/*bootstrap表格颜色*/
.table-striped > tbody > tr:nth-of-type(odd){
    background-color: #fff;
}
.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}
.serial-number-list table tr th{
    background: #ddd;
    color:#333;
}
.serial-number-list table tr:nth-of-type(2n) {
    background: #fafafa;
}
/*bootstrap表格颜色*/

.btn-searching {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 25px;
    padding: 0;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 25px;
    color: #a870e0;
    font-size: 12px;
    text-align: center;
}
.form-group-deploy {
    position: relative;
    width: 100% !important;
    padding-left: 90px;
}
.form-group-deploy input[type="text"], .form-group input[type="number"] {
    width: 95% !important;
    height: 25px;
    padding: 0 12px;
    line-height: 25px;
    border-radius: 14px;
}
.form-group-deploy label {
    position: absolute;
    left: 0;
    width: 90px !important;
    line-height: 25px;
    text-align: right;
}
/*弹窗内容*/
.high30{
    height: 30px;
}
.mt10{
    margin-top: 10px;
}
.history-detail-infomation {
    padding: 5px 20px 0px 20px;
}
.model-detail-title{
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}
.serial-number-list{
    padding: 5px 20px 0px 20px;
}
.model-detailnumber-title{
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
    height: 25px;
}
.form-group .detail-msg{
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: left;
}
.form-group .detail-msg span{
    color: #999;
    display: inline-block;
    width: 90px;
    text-align: right;
}

/*弹窗内容*/

.historyDetail{
    color:#812cd7;
    text-decoration: underline;
}
.d-line{
    height:30px;
}
.adjust{
    display:inline-block;
    width:163px;
    height:28px;
    border:1px solid #d5d4dc;
    border-radius: 14px;
    position: relative;
}
.adjust .plus{
    position:absolute;
    left:0;
    width:28px;
    height:26px;
    border:0;
    border-right: 1px solid #ddd;
    color:#812cd7;
    background: none;
    line-height: 17px;
    font-size: 30px;
}
.adjust .add{
    position:absolute;
    right:0;
    width:28px;
    height:26px;
    border:0;
    border-left: 1px solid #ddd;
    color:#812cd7;
    background: none;
    line-height: 17px;
    font-size: 23px;
}
.detail-msg .adjust .num{
    position: absolute;
    width:104px !important;
    height:26px;
    border:0;
    left:29px;
    padding: 0;
    text-align: center;
}
.form-group .detail-msg .vertl{
    vertical-align: top;
    margin-top: 8px;
    display: inline-block;
}
.form-group .detail-msg.top{
    top:-8px;
}
.detail-msg .purple-color{
    color:#812cd7;
}
.remark-msg{
    width:100%;
    padding: 0;
    margin-bottom: 70px;
}
.remark-msg span{
    display:inline-block;
    width:60px;
    color:#999;
    vertical-align: top;
    margin-top: 5px;
}
.remark-msg .txtarea{
    display:inline-block;
    width:700px !important;
    min-height:70px;
    border-color: #ddd;
}
.info-detail-form .form-group{
    padding-left:0;
}
.mb100{
    margin-bottom:100px;
}
.mlf24{
    padding-left:24px;
}



