<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>积分兑换</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="membPointsExchange.css">
</head>

<body ng-app="staffModule">
    <!-- DOM结构开始 -->
    <div class="history top-line wavy-line" ng-controller="addAdjustInModalCtrl">
        <div class="condition-query fn-clear">
            <form name="detailOperate" ng-controller="detailOperateFormCtrl" class="form-inline" role="form">
                <div class="row mb10">
                    <div class="col-xs-1">
                        <div class="head-img">
                            <img src="../../resources/images/head.png">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <p class="detail-msg"><span>会员姓名：</span>{{detailOperateForm.leaguerName}}</p>
                    </div>
                    <div class="col-xs-2">
                        <p class="detail-msg"><span>会员卡号：</span>{{detailOperateForm.leaguerId}}</p>
                    </div>
                    <div class="col-xs-3">
                        <p class="detail-msg"><span>会员等级：</span>{{detailOperateForm.levelName}}</p>
                    </div>
                    <div class="col-xs-4">
                        <ul class="ul-info">
                            <li>
                                <div class="img-left"><img src="../../resources/images/telephone.png"></div>
                                <div class="info-right">
                                    <p class="p1"><b class="purple-color">{{detailOperateForm.leaguerMobile}}</b></p>
                                    <p class="p2">手机号码</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-left"><img src="../../resources/images/ss.png"></div>
                                <div class="info-right">
                                    <p class="p1"><b class="purple-color">{{detailOperateForm.accountAmount}}</b></p>
                                    <p class="p2">积分</p>
                                </div>
                            </li>
                        </ul> 
                    </div>       
                </div>  
            </form>  
        </div>
        <!-- <div ng-controller="exchangeQuery"> -->
            <!-- 兑换商品 -->
            <div class="exchange-goods" ng-controller="exchangeQuery">
                <ul class="fn-clear">
                    <li ng-repeat="item in goodsSmallList">
                        <div class="left-img">
                            <i class="icon-remmd"></i>
                            <img src="../../resources/images/img_tele.png">
                        </div>
                        <div class="right-info">
                            <p class="p1">{{item.offer.offerName}}</p>
                            <p class="p2">积分：<span class="green-color">{{item.pointVaule}}</span></p>
                            <p class="p2">市场价：<span>￥{{item.offer.priceRetail.retailPrice}}</span></p>
                            <p class="p2">当前库存：<span>{{item.offer.offerQty}}</span>
                                <button class="exchange-btn" ng-click="exchangePoints($index)">兑换</button>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 结果列表 -->
            <div class="result-list" ng-controller="exchangeResultList">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="model-header">
                                <img class="model-img" src="../../resources/images/icon-list.png">
                                <p class="model-title">全部兑换商品</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form name="infomationForm" class="form-inline" role="form">
                    <div class="result-choose">
                        <div class="row check-list">
                            <div class="col-xs-4">
                                <div class="form-choose">
                                    <input type="text" class="form-control reduce-width">
                                    <button type="submit" class="btn btn-sm btn-keyword" ng-click="goodsExchangeQuery(currentPage)"><i class="iconfont">&#xe600;</i> 查询</button>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn-queries" ng-click="toggle('isHidden')">更多查询条件</a>
                            </div>
                        </div>
                        <!-- 条件列表 -->
                        <div class="queries-list" ng-show="!isHidden" ng-cloak>
                            <p class="queries-title"><label class="wrds">所有分类 > </label><span class="checked-query" ng-show="!isVisb">类别：{{infomationForm.categoryName}}<i class="iconfont">&#xe611;</i></span><span class="checked-query" ng-show="!isVisb">积分区间：{{infomationForm.startPoint}}-{{infomationForm.endPoint}}<i class="iconfont">&#xe611;</i></span></p>
                            <div class="query-line fn-clear">
                                <span class="category-label fn-left">类别：</span>
                                <div class="category-list fn-left" ng-class="{fold: isFoldBrand}">
                                    <span class="category-item" ng-repeat="item in goodsCategoryList" ng-click="checked()">{{item.categoryName}}</span>
                                </div>
                            </div>
                            <div class="query-line fn-clear">
                                <div class="fn-clear">
                                    <span class="category-label fn-left">积分区间：</span>
                                    <div class="category-list fn-left" ng-class="{fold: $ctrl.isFoldBrand}">
                                        <span class="category-item" ng-click="checkedFor(0,999)">0-999积分</span>
                                        <span class="category-item" ng-click="checkedFor(1000, 1999)">1000-1999积分</span>
                                        <span class="category-item" ng-click="checkedFor(2000, 2999)">2000-2999积分</span>
                                        <span class="category-item" ng-click="checkedFor(3000, 3999)">3000-3999积分</span>
                                        <span class="category-item" ng-click="checkedFor(4000, 4999)">4000-4999积分</span>
                                        <span class="category-item" ng-click="checkedFor(5000, 5999)">5000-5999积分</span>   
                                    </div>
                                    <a href="javascript:;" ng-click="toggle('isFoldBrand')" ng-show="isFoldBrand" class="category-more fn-right">更多 <i class="iconfont">&#xe608;</i></a>
                                    <a href="javascript:;" ng-click="toggle('isFoldBrand')" ng-show="!isFoldBrand" class="category-more fn-right">收起 <i class="iconfont">&#xe607;</i></a>
                                </div>
                                <div class="txt-choose">
                                    <div class="inpt"><input type="text" ng-bind="startPoint"> - <input type="text" ng-bind="endPoint"></div>
                                    <button class="sure-btn">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="result-table">
                    <div class="result-table">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>                        
                                    <th width="20%">商品名称</th>
                                    <th width="15%">商品类别</th>
                                    <th width="15%">市场价</th>
                                    <th width="16%">兑换积分</th>
                                    <th width="16%">当前库存</th>
                                    <th>操作</th>                              
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in goodsList">     
                                    <td>
                                        <p ng-bind="item.offer.offerName"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.offer.categoryName"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.offer.priceRetail.retailPrice"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.pointVaule"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.offer.offerQty"></p>
                                    </td>
                                    <td>
                                        <button class="btn btn-xs btn-edit" ng-click="exchangePoints($index)"><i class="iconfont">&#xe636;</i> 兑换</button>    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length">
                            没有数据
                        </p>
                    </div>
                    <div ng-controller="paginationCtrl" class="text-center page">
                        <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                        <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        <!-- 兑换 -->
        <script type="text/ng-template" id="detailAccountsModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="serial-number-title"><img class="icon" src="../../resources/images/icon-list1.png">积分商品兑换</h3>
            </div>
            <div class="history-detail-infomation">
                <div class="model-header">
                    <p class="model-detail-title">兑换商品信息：</p>
                </div>
                <div class="info-detail-form">
                    <form name="infomationForm" class="form-inline" role="form">
                        <div class="row dashed-line">
                            <div class="col-xs-4">  
                                <div class="form-group">
                                    <p class="detail-info"><span>商品名称：</span><b>Iphone 6s 手机壳</b></p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-info"><span>商品类别：</span>数码配件</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-info"><span>消耗积分：</span><b class="purple-color">1000</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="row dashed-line">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-info"><span>现有积分：</span>7007</p>
                                </div>
                            </div>  
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-info"><span>兑换后积分余额：</span>6007</p>
                                </div>
                            </div>   
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-info"><span>操作人员：</span>王小二</p>
                                </div>
                            </div>                           
                        </div>
                        <div class="row d-line">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-info"><span>兑换日期：</span>2017-01-10</p>
                                </div>
                            </div>                    
                        </div>
                    </form>
                </div>
            </div>
            <div class="serial-number-list">
                <div class="info-detail-form">
                    <form name="infomationForm" class="form-inline" role="form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="remark-msg"><span>兑换说明：</span>
                                        <textarea class="txtarea"></textarea>
                                    </div>
                                </div>
                            </div>                          
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="remark-msg"><span></span>
                                        <p class="red-color">注：兑换商品无质量问题不退换货，请确认后兑换。</p>
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确认兑换</button>
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
            </div>
            <div class="success_popup" ng-show="$ctrl.isVisible">
                <button type="button" class="close iconfont popclose" ng-click="$ctrl.sure()">&#xe611;</button>
                <img src="../../resources/images/success.png">
                <p class="wrds">积分兑换成功</p>
            </div> 
        </script>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/angular-locale_zh-cn.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="membPointsExchange.js"></script>
</body>

</html>
