<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>销售统计查询</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="salesStatisticsInquiry.css">
</head>

<body ng-app="salesStatisticsInquiryModule">
    <!-- 查询 -->
    <div class="dailyAccountsHistory top-line wavy-line" ng-controller="salesStatisticsInquiryQuery">
        <div class="alarm-query fn-clear">
            <p class="alarm-query-title fn-left">搜<br/>索</p>
            <div class="condition-query-box fn-right">
                <form name="querySalesForm" class="form-inline" role="form">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">起止日期：</label>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createStartDt" class="form-control modify-input" uib-datepicker-popup="{{format}}" readonly ng-model="querySalesForm.createStartDt" is-open="startPopupOpened" datepicker-options="startDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="startOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                                <div class="datepicker-text fn-left">至</div>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup="{{format}}" readonly ng-model="querySalesForm.createEndDt" is-open="endPopupOpened" datepicker-options="endDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="endOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <button type="submit" class="btn btn-sm btn-query" ng-click="queryFormSubmit()"><i class="iconfont">&#xe600;</i> 查询</button>
                            </div>
                        </div>
                        <div class="col-xs-4">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 列表 -->
        <div class="result-list">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon-list.png">
                            <p class="model-title">销售统计信息</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statQuery-msg fn-clear" ng-repeat="item in orderStatList" ng-cloak>
                <div class="fn-left stat-time">

                    <div class="stat-content stat-bottom-line"><span class="stat-title">统计时间段：</span><span ng-bind="item.startDt"></span> 至 <span ng-bind="item.endDt"></span></div>

                    <div class="stat-content"><span class="stat-title">总计销售金额：</span><span class="nub-big">￥<span ng-bind="item.totalAmount"></span></span></div>

                </div>
                <div class="fn-left stat-table">
                    <table>
                        <tr>
                            <td class="bg-gray">收款方式：</td>
                            <td rowspan="2"><img src="../../resources/images/stat-table-bg.jpg"></td>
                            <td width="110" ng-repeat="y in item.sumList" ng-class=
                            "{'border-right':($index + 1 != item.sumList.length)}">
                                <p class="line-bottom" ng-bind="y.payCd | paymentMethodCdType"></p>

                            </td>
                        </tr>
                        <tr>
                            <td class="bg-gray">收款金额：</td>
                            <td width="110" ng-repeat="y in item.sumList" ng-class=
                            "{'border-right':($index + 1 != item.sumList.length)}">
                                <p class="nub">¥ <span ng-bind="y.payAmount"></span></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="sale-stat-box">
                <div class="sale-stat mb10">
                    <table class="sale-stat-head">
                        <thead>
                            <th width="12%">商品编码</th>
                            <th width="12%">商品名称</th>
                            <th width="12%">商品型号</th>
                            <th width="12%">商品件数</th>
                            <th width="12%">订单类型</th>
                            <th width="12%">客户</th>
                            <th width="16%">订单总金额（元）</th>
                            <th width="12%">收费</th>
                        </thead>
                    </table>
                    <table class="sale-stat-list mt10" ng-cloak ng-repeat="item in orderDetailsList">
                        <thead>
                            <th colspan="2">单据号：<span class="receiptsNub" ng-bind="item.retailOrderId"></span></th>
                            <th colspan="2">单据时间： <span ng-bind="item.createDt"></span></th>
                            <th colspan="2">销售：<span ng-bind="item.staffName"></span></th>
                            <th colspan="2"></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="value in item.itemList">
                                <td width="12%" ng-bind="value.offerCode"></td>
                                <td width="12%" ng-bind="value.offerName"></td>
                                <td width="12%" ng-bind="value.offerModelName"></td>
                                <td width="12%" ng-bind="value.offerQty"></td>

                                <td width="12%" ng-if="$index === 0" rowspan="{{item.itemList.length}}" ng-bind="item.orderType | orderType"></td>
                                <td width="12%" ng-if="$index === 0" rowspan="{{item.itemList.length}}"  ng-bind="item.custName"></td>
                                <td width="16%" ng-if="$index === 0" rowspan="{{item.itemList.length}}" ><span class="nub">¥ </span><span class="nub" ng-bind="item.totalAmount"></span></td>
                                <td width="12%" ng-if="$index === 0" rowspan="{{item.itemList.length}}" ><span>¥ </span> <span ng-bind="value.amount"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-controller="paginationCtrl" class="text-center page">
                    <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                    <div class="page-num">共<span class="number" ng-bind="totalNum"></span>条记录，当前显示第<span class="number" ng-bind="currentPage"></span>页</div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/angular-locale_zh-cn.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="../../resources/js/moment.js"></script>
    <script src="salesStatisticsInquiry.js"></script>
</body>

</html>
