<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>店员管理</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="salesmanManage.css">
</head>

<body ng-app="salesmanManageModule">

    <div class="salesmanManage top-line wavy-line">
        <!-- step -->
        <div class="step fn-clear">
            <li class="step-item fn-left" ng-cloak ng-class="{current: stepNum === 0}">
                <div class="step-icon"></div>
                <div class="step-line"></div>
                <p class="step-title">选择门店</p>
            </li>
            <li class="step-item fn-left" ng-cloak ng-class="{current: stepNum === 1}">
                <div class="step-icon"></div>
                <div class="step-line"></div>
                <p class="step-title">店员配置</p>
            </li>
        </div>
        <div class="choose-store" ng-show="stepNum === 0">
            <!-- 条件查询 -->
            <div class="condition-query fn-clear">
                <p class="condition-query-title fn-left">搜
                    <br/>索</p>
                <div class="condition-query-box fn-right">
                    <form name="conditionQueryForm" class="form-inline" role="form">
                        <div class="row mb10">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">门店所属城市：</label>
                                    <input type="text" class="form-control" ng-model="conditionQueryForm.identifyNumber">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">门店对应渠道名称：</label>
                                    <input type="text" class="form-control" ng-model="conditionQueryForm.identifyNumber">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">对应渠道编码：</label>
                                    <input type="text" class="form-control" ng-model="conditionQueryForm.identifyNumber">
                                </div>
                            </div>   
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">所属经营主体名称：</label>
                                    <input type="text" class="form-control" ng-model="conditionQueryForm.identifyNumber">
                                </div>
                            </div> 
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">所属经营主体编码：</label>
                                    <input type="text" class="form-control" ng-model="conditionQueryForm.identifyNumber">
                                </div>
                            </div> 
                            <div class="col-xs-4 text-right">
                                <div class="form-group btn-search">
                                    <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 结果列表 -->
            <div class="result-list" ng-controller="salemanSetupCtrl">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="model-header">
                                <img class="model-img" src="../../resources/images/icon-salesman.png">
                                <p class="model-title">店员管理</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result-table">
                    <div class="result-table">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th width="11%">门店编码</th>
                                    <th width="11%">门店名称</th>
                                    <th width="11%">对应渠道</th>
                                    <th width="11%">对应渠道编码</th>
                                    <th>所属经营主体</th>
                                    <th width="11%">所属地方</th>
                                    <th width="9%">状态</th>
                                    <th width="12%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>123230</p>
                                    </td>
                                    <td>
                                        <p>鼓楼营业厅</p>
                                    </td>
                                    <td>
                                        <p>鼓楼营业厅</p>
                                    </td>
                                    <td>
                                        <p>25009823</p>
                                    </td>
                                    <td>
                                        <p>中国电信江苏南京分公司</p>
                                    </td>
                                    <td>
                                        <p>南京市</p>
                                    </td>
                                    <td>
                                        <p>正常</p>
                                    </td> 
                                    <td>  
                                        <button class="btn btn-xs btn-edit" ng-click="salesmanSetup($index)"><i class="iconfont">&#xe643;</i> 店员配置
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length">
                            没有数据
                        </p>
                    </div>
                    <div ng-controller="paginationCtrl" class="text-center page">
                        <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                        <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="salesman-setup" ng-show="stepNum === 1">
            <div class="salesman-info">
                <div class="row mb10">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">门店所属城市：</label>
                            <p class="detail-label member-name">xxxxxxxxx</p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">门店对应渠道名称：</label>
                            <p class="detail-label member-name">xxxxxxxxx</p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">对应渠道编码：</label>
                            <p class="detail-label member-name">xxxxxxxxx</p>
                        </div>
                    </div>   
                </div>
            </div>
            <!-- 结果列表 -->
            <div class="result-list" ng-controller="salemanSetupCtrl">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="model-header">
                                <img class="model-img" src="../../resources/images/icon-salesman.png">
                                <p class="model-title">店员管理</p>
                            </div>
                        </div>
                        <div class="col-xs-8 text-right">
                            <button class="btn btn-xs btn-set"><i class="iconfont">
                            &#xe60e;</i> 新增店员</button>
                            <button class="btn btn-xs btn-set"><i class="iconfont">
                            &#xe610;</i> 批量删除</button>
                            <button class="btn btn-xs btn-set"><i class="iconfont">
                            &#xe613;</i> 批量启用</button>
                            <button class="btn btn-xs btn-set"><i class="iconfont">
                            &#xe612;</i> 批量停用</button>
                        </div>
                    </div>
                </div>
                <div class="result-table">
                    <div class="result-table">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th width="5%">选择</th>
                                    <th width="6%">姓名</th>
                                    <th width="10%">登录账号</th>
                                    <th width="9%">捆绑手机</th>
                                    <th width="12%">所属门店</th>
                                    <th width="11%">店员角色</th>
                                    <th width="6%">状态</th>
                                    <th width="10%">更新时间</th>
                                    <th>备注</th>
                                    <th width="15%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                       <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item)" ng-model="isChecked">
                                    </td>
                                    <td>
                                        <p>张三</p>
                                    </td>
                                    <td>
                                        <p>zhangsan</p>
                                    </td>
                                    <td>
                                        <p>17727772213</p>
                                    </td>
                                    <td>
                                        <p>望月路全网通门店</p>
                                    </td>
                                    <td>
                                        <p>库管员、收银员</p>
                                    </td>
                                    <td>
                                        <p>正常</p>
                                    </td>
                                    <td>
                                        <p>2017-01-20</p>
                                    </td> 
                                    <td>
                                        <p class="overflow-handle" title="{{}}">--</p>
                                    </td>
                                    <td>  
                                        <button class="btn btn-xs btn-edit"><i class="iconfont">&#xe61f;</i> 修改
                                        </button>
                                        <button class="btn btn-xs btn-edit"><i class="iconfont">&&#xe610;</i> 删除
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length">
                            没有数据
                        </p>
                    </div>
                    <div ng-controller="paginationCtrl" class="text-center page">
                        <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                        <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="salesmanManage.js"></script>
</body>

</html>
