<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>会员信息管理</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="membershipInfoManage.css">
</head>

<body ng-app="checkModule">
    <!-- DOM结构开始 -->
    <div class="check top-line wavy-line" ng-controller="addPurchaseModalCtrl as $ctrl">
        <div ng-controller="conditionQuery">
            <!-- 条件查询 -->
            <div class="condition-query fn-clear">
                <p class="condition-query-title fn-left">搜
                    <br/>索</p>
                <div class="condition-query-box fn-right">
                    <form name="conditionQueryForm" class="form-inline" role="form">
                        <div class="row mb10">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">证件类型：</label>
                                    <div class="select-box">
                                        <select class="form-control">
                                            <option value="">全部</option>
                                            <option ng-repeat="item in offerTypeList" value="{{item.identifyType}}">{{item.identifyName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">证件号码：</label>
                                    <input type="text" class="form-control" placeholder="请输入证件号码" ng-model="conditionQueryForm.identifyNumber">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">会员卡号：</label>
                                    <input type="text" class="form-control" placeholder="请输入会员卡号" ng-model="conditionQueryForm.memberNum">
                                </div>
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">会员姓名：</label>
                                    <input type="text" class="form-control" placeholder="请输入会员姓名" ng-model="conditionQueryForm.memberName">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">手机号码：</label>
                                    <input type="text" class="form-control" placeholder="请输入会员姓名" ng-model="conditionQueryForm.phoneNumber">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">状态：</label>
                                    <div class="select-box">
                                        <select class="form-control">
                                            <option value="">全部</option>
                                            <option ng-repeat="item in statusTypeList" value="{{item.statusCd}}">{{item.statusName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label">会员标签：</label>
                                    <input type="text" class="form-control" disabled ng-model="memberMark">
                                    <button type="submit" class="btn btn-sm btn-searching" ng-click="openStoreQueryType()"><i class="iconfont">&#xe600;</i></button>
                                </div>
                            </div>
                            <div class="col-xs-8 text-right">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-query" ng-click="conditionQuerySubmit(currentPage)"><i class="iconfont">&#xe600;</i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 结果列表 -->
            <div class="result-list" ng-controller="queryResultCtrl">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="model-header">
                                <img class="model-img" src="../../resources/images/icon-list.png">
                                <p class="model-title">会员信息管理列表</p>
                            </div>
                        </div>
                        <div class="col-xs-8 text-right">
                            <button class="btn btn-xs btn-set" ng-click="addMembership('新增会员')"><i class="iconfont">
                            &#xe60e;</i> 新增会员</button>
                        </div>
                    </div>
                </div>
                <div class="result-table">
                    <table class="table table-hover table-bordered" ng-cloak>
                        <thead>
                            <tr>
                                <th width="12%">所属门店</th>
                                <th width="7%">会员姓名</th>
                                <th width="7%">证件类型</th>
                                <th width="11%">证件号码</th>
                                <th width="10%">会员卡号</th>
                                <th width="9%">手机号码</th>
                                <th width="6%">会员等级</th>
                                <th width="5%">状态</th>
                                <th width="11%">会员标签</th>
                                <th width="9%">创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in queryTypeResultList">   
                                <td>
                                    <p class="overflow-handle" title="{{item.retailShopName}}" ng-bind="item.retailShopName"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.memberName"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.identifyTypeName"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.identifyNumber"></p>
                                </td>
                                <td>
                                    <p class="overflow-handle" title="{{item.memberNum}}" ng-bind="item.memberNum"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.phoneNumber"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.memberLevelName"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.statusCdName"></p>
                                </td>
                                <td>
                                    <p class="overflow-handle" title="{{item.memberMark}}" ng-bind="item.memberMark"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.createDate"></p>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-edit" ng-disabled="item.statusCdName === '无效'" ng-click="editMembership($index,'修改')"><i class="iconfont">&#xe60d;</i> 修改
                                    </button>
                                    <button class="btn btn-xs btn-edit" ng-click="deleteMembership($index)"><i class="iconfont">&#xe610;</i> 注销
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                        没有数据
                    </p>
                </div>
                <div ng-controller="paginationCtrl" class="text-center page">
                    <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                    <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
                </div>
            </div>
        </div> 
        <!-- 选择会员标签 -->
        <script type="text/ng-template" id="storeQueryTypeModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="serial-number-title1"><img class="icon" src="../../resources/images/icon-list1.png">会员管理——选择会员标签</h3>
            </div>
            <!-- 结果列表 -->
            <div class="result-list" ng-controller="qryMemberMarkResult">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="model-header">
                                <p class="model-title">标签列表</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result-table">
                    <table class="table table-hover table-bordered grey-table" ng-cloak>
                        <thead>
                            <tr>                        
                                <th width="8%">选择</th>
                                <th width="20%">标签名称</th>
                                <th>标签描述</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in qryMemberMarkList">
                                <td>
                                    <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item)" ng-model="isChecked">
                                </td>
                                <td style="display: none;">
                                    <p ng-bind="item.markId"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.markName"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.markDesc"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                        没有数据
                    </p>
                </div>
                <div ng-controller="paginationCtrl" class="text-center page">
                    <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged2()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                    <div class="page-num">共<span class="number" ng-bind="totalNum"></span>条记录，当前显示第<span class="number" ng-bind="currentPage"></span>页</div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-submit" type="button" ng-disabled="isDisabled" ng-click="$ctrl.ok()">确定</button>
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">取消</button>
            </div>
        </script>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="membershipInfoManage.js"></script>
</body>

</html>
