.purple-color{
    color:#a870e0;
}
.bold{
    font-weight: bold;
}
.check {
    min-height: 20px;
    margin: 10px;
    border-left: 1px solid #d5d4dc;
    border-right: 1px solid #d5d4dc;
    background-color: #fff;
}

.condition-query {
    height: 117px;
    padding: 10px 10px 10px 0;
    background: url('../../resources/images/query-bg-big.png') no-repeat 0 0;
    background-color: #f8f8f8;
    border-bottom: 1px dashed #d2d2d2;
}

.condition-query-title {
    width: 20px;
    height: 50px;
    margin: 22px 0 0 8px;
    line-height: 25px;
    color: #333;
    font-size: 14px;
    font-weight: 800;
}

.condition-query-box {
    width: calc(100% - 40px);
}

.datepicker-input {
    position: relative;
    width: 45%;
}

.datepicker-text {
    width: 10%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.icon_time {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #cfa9f5;
    cursor: pointer;
}

.form-group .reduce-width {
    width: calc(100% - 90px) !important;
}

.result-list {
    padding: 5px 5px 20px;
}

.result-head {
    margin-bottom: 5px;
}

.result-table table th {
    padding: 5px !important;
    background-color: #a870e0;
    border-bottom-width: 1px !important;
    color: #fff;
    font-weight: 800;
    text-align: center;
}

.result-table table td {
    padding: 2px !important;
    text-align: center;
}

.result-table table td p {
    height: 25px;
    line-height: 25px;
}

.model-header {
    height: 25px;
    line-height: 25px;
}

.model-img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px 4px;
}

.model-title {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.btn-set {
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border-color: #c899f7;
    color: #333;
    font-size: 12px;
}

.btn-set:focus,
.btn-set.focus {
    background-color: #f7f7f7;
    border-color: #c899f7;
    color: #333;
}

.btn-set:hover {
    background-color: #f7f7f7;
    border-color: #c899f7;
    color: #333;
}

.btn-set .iconfont {
    color: #a870e0;
}

.btn-edit {
    margin-left: 2px;
    padding: 0 6px;
    background-color: #eddbff;
    border-color: #ceaaf2;
    color: #a870e0;
    font-size: 12px;
}

.btn-edit:focus,
.btn-edit.focus {
    border-color: #c899f7;
    background-color: #e0c2ff;
    color: #a870e0;
}
.btn-edit:hover {
    border-color: #c899f7;
    background-color: #e0c2ff;
    color: #a870e0;
}
.btn-edit .iconfont {
    color: #a870e0;
}
.btn-disabled {
    margin-left: 2px;
    padding: 0 6px;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    color: #bbb;
    font-size: 12px;
}
.btn-disabled:focus,
.btn-disabled.focus {
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    color: #bbb;
}
.btn-disabled:hover {
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    color: #bbb;
}
.btn-disabled .iconfont {
    color: #bbb;
}
.form-group{
    padding-left:110px;
}
.form-group label{
    width: 110px !important;
}
.city-check-box {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 99;
    width: calc(100% - 110px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.btn-location {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 25px;
    padding: 0;
    background-color: #f5f5f5;
    border-color: #ccc;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 25px;
    color: #c097e8;
    text-align: center;
    overflow: hidden;
}
.btn-location .iconfont {
    font-size: 16px;
}
.nav-tabs {
    background-color: #f5f5f5;
}
.nav-tabs > li > a {
    margin-right: 0;
    border-radius: 0;
}
.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    height: 30px;
    margin-left: -1px;
    padding: 0 15px;
    line-height: 30px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
}
.city-content {
    padding: 10px;
}
.city-item {
    display: inline-block;
    width: 68px;
    height: 26px;
    margin: 0 2px 1px 0;
    line-height: 26px;
    color: #666;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.city-item.current {
    background-color: #a870e0;
    color: #fff;
    border-radius: 5px;
}
.form-group .form-control.reduce-width {
    width: calc(100% - 90px) !important;
}
.btn-searching {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 25px;
    padding: 0;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 25px;
    color: #a870e0;
    font-size: 12px;
    text-align: center;
}
.btn-searching.btn-ser{
    right: 90px;
}
.btn-query {
    position: absolute;
    top: -1px;
    right: 0;
}
.btn-another {
    position: absolute;
    top: -4px;
    right: 0;
}
.result-table .grey-table{
    border:1px solid #c9c9c9;
}
.result-table .grey-table th{
    background: #ddd;
    border:1px solid #c9c9c9;
    color:#333;
}
.result-table .grey-table tr:nth-of-type(2n){
    background: #fff;
}
.zhezhao{
   height:100%; width:100%; position:fixed; top:0; left:0; z-index:98;
}
