<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>新增会员</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="detailMembership.css">
</head>

<body ng-app="addStoreManageModule">
    <!-- DOM结构开始 -->
    <div class="addCheck top-line wavy-line">
        <div class="purchase-infomation" ng-controller="detailMembershipInfoCtrl">
            <form name="infomationForm" class="form-inline" role="form">
                <!-- 会员基本信息 -->
                <div class="model-header">
                    <img class="model-img" src="../../resources/images/icon-list.png">
                    <span class="model-title">会员基本信息</span>
                </div>
                <div class="infomation-form">
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">会员姓名：</label>
                                <p class="detail-label member-name" ng-bind="detailMembershipInfo.leaguerName"></p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">证件类型：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.certificateType | certificateTypeFilter"></p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">证件号码：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.certificateNum"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">手机号码：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.leaguerMobile"></p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">会员等级：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.levelName"></p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">会员状态：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.statusName"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 会员卡信息 -->
                <div class="model-header">
                    <img class="model-img" src="../../resources/images/icon-list.png">
                    <span class="model-title">会员卡信息</span>
                </div>
                <div class="infomation-form">
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">会员卡号：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.leaguerId"></p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">累计消费：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.totalConsumption"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 会员信息 -->
                <div class="model-header">
                    <img class="model-img" src="../../resources/images/icon-list.png">
                    <span class="model-title">会员信息</span>
                </div>
                <div class="infomation-form">
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">会员性别：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.leaguerSexName"></p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">会员生日：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.leaguerBirthday"></p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">电子邮箱：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.leaguerEmail"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">微信号：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.leaguerWechat"></p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">会员标签：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.leaguerLabelsName"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb10">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">备注：</label>
                                <p class="detail-label" ng-bind="detailMembershipInfo.remarks"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 会员积分信息 -->
                <div class="model-header">
                    <img class="model-img" src="../../resources/images/icon-list.png">
                    <span class="model-title">会员积分信息</span>
                </div>
                <div class="infomation-form">
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">会员积分：</label>
                                <p class="detail-label"><strong class="purple-color" ng-bind="detailMembershipInfo.account.accountAmount"></strong><button class="btn btn-sm btn-query detail-list" ng-click="showPointsDetail(detailMembershipInfo.account.pointsAccountId)">历史明细</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="detailMembership.js"></script>
</body>

</html>
