<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="detailAnnouncement.css">
</head>

<body ng-app="staffModule">
    <!-- DOM结构开始 -->
    <div class="addSupplier top-line wavy-line">
        <div class="top-title">
            <p class="title">“批销毛利展示”、“零售单备注补录”功能……尽在20161215版本更新</p>
            <p class="date">日期：2016-12-15 发布人：蔡静 </p>
        </div>
        <div class="content">
            <ul class="attachments">
                <p class="wrds">附件下载：</p>
                <li class="attm">
                    <a href="javascript:void(0)">
                        <i class="iconfont">&#xe628;</i><span>公告附件.doc</span>
                    </a>
                </li>
                <li class="attm">
                    <a href="javascript:void(0)">
                        <i class="iconfont">&#xe628;</i><span>公告说明2.doc</span>
                    </a>
                </li>
            </ul>
            <div class="text-content">
                <p class="pdate">【维护时间】 12月15 日21:30—22:30，为了配合本次版本更新，服务器将进行维护。届时系统将暂停服务，给您造成的不便敬请谅解 。</p>
                <p class="pcnt">【更新内容概要】</p>
                <p class="p1">功能新增</p>
                <p class="p1">1、一商多店销售清单Excel导出时增加 “门店成本”、“门店毛利”两列信息展示，以方便用户查看其使用“变价调拨功能”进行变价操作时的价格。</p>
                <p class="p1">2、商品批销操作支持批销毛利展示，在商品批销单展示页面，即可查看批销单对应批销商品的毛利信息。</p>
                <p class="p1">3、零售单增加备注补录功能，方便收银员在忘记备注零售单重要信息时一键补录。</p>
                <p class="p1">效率优先</p>
                <p class="p1">1、营销派单暂存功能上线，方便业务员将营销时没有成功但可继续跟踪的派单进行暂存，并支持查看历史营销信息记录。</p>
                <p class="p1">2、对营销派单功能中更多信息模块的加载机制进行优化，信息加载更及时，提高您的体验。</p>
                <p class="p1">更加帖心</p>
                <p class="p1">对商品批销进行规范，批销操作仅可批销当前门店或总仓中的终端，如需批销其他门店仓库中的商品，用户可先调拨后批销。</p>
            </div>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="detailAnnouncement.js"></script>
</body>

</html>
